.content {
    width: 100%;
    height: 92.5vh;
    background: rgb(255,255,255);
    background: linear-gradient(328deg, rgba(255,255,255,1) 0%, rgba(195,182,215,1) 50%, rgba(195,182,215,1) 100%);
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*colori normali*/
.box{
    margin: auto 0;
    padding: 2%;
    background-color:#F8ECDB;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:25%;
    height: 35%;
    margin: auto;
    flex-direction: column;
    font-family: 'Quattrocento', serif;
    font-family: 'Quicksand', sans-serif;
}

.title{
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
}

.txt{
    font-size: 32px;
   
}

.img{
    opacity: 100%;
}

/*colori grigi*/
.sfocaturaBox{
    padding: 0.5%;
    background-color:rgba(248, 236, 219, 0.66);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:25%;
    height: 30%;
    margin: auto;
    flex-direction: column;
    font-family: 'Quattrocento', serif;
    font-family: 'Quicksand', sans-serif;
}

.sfocaturaTitle{
        font-size: 22px;
        font-weight: bold;
        border-radius: 20px;   
        color: rgba(0, 0, 0, 0.5);
}

.sfocaturaImg{
   opacity: 50%;
}