.content {
    width: 100%;
    background: rgb(255,255,255);
    background: linear-gradient(328deg, rgba(255,255,255,1) 0%, rgba(195,182,215,1) 50%, rgba(195,182,215,1) 100%);
    background-position: center;
    display: flex;
    align-items: center;
    flex-direction:column;
}

/*colori normali*/
.box{
    text-align: center;
    margin: auto 0;
    padding: 2%;
    background-color:#F8ECDB;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Quattrocento', serif;
    font-family: 'Quicksand', sans-serif;
    width: 400px;
}

.boxes img.utenti{
    width: 167px;
    height: 100px;
    padding-top: 15%;
}
.boxes img.controllo{
    width: 121px;
    height: 110px;
    padding-top: 15%;
}

/*ingrandimo img*/
.box img.utenti{
    width: 280px;
    height: 170px;
    padding-top: 15%;
}
.box img.controllo{
    width: 200px;
    height: 200px;
    padding-top: 15%;
}
/*fine*/
.title{
    font-size: 32px;
    font-weight: bold;
    border-radius: 20px;
    color: black;
}

.txt{
    font-size: 32px;
   
}

.img{
    opacity: 100%;
}

/*colori grigi*/
.sfocaturaBox{
    text-align: center;
    padding: 1.5%;
    background-color:rgba(248, 236, 219, 0.66);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    flex-direction: column;
    font-family: 'Quattrocento', serif;
    font-family: 'Quicksand', sans-serif;
    width: 300px;
}

.sfocaturaTitle{
        font-size: 22px;
        font-weight: bold;
        border-radius: 20px;   
        color: rgba(0, 0, 0, 0.5);
}
/*
.sfocaturaImg{
   opacity: 50%;
}*/

/*Prima sezione*/

.bentornato{
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    color: #393440;
    border-bottom: 3px solid #393440;
}

.paragrafo{
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    color: rgba(57, 52, 64, 0.8);
}


.boxes{
    display: flex;
    align-items: center;
    margin-top:6%;
}

.primoContent{
    margin-top: 5%;
    text-align: center;
}

.boxes div{
    margin: 0 5%;
}

.hidden{
    display: none;
}